html{
	background-color: aqua;
}

a:link{	color:pink;
}

a:visited{color:lightblue;}

a:active{color:limegreen;}

a:hover{color:mistyrose;font-weight:bold;}

table{
	background-color:blue;
	padding:15px;
}

td{
	background-color:mintcream;
}

